@import '@fontsource-variable/roboto/wght.css';
@import '@material-design-icons/font/filled.css';

.material-icons {
  display: inline-block;
  direction: ltr;
  font-family: 'Material Icons';
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  font-feature-settings: 'liga';
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-font-smoothing: antialiased;
}
