@use '@angular/material' as mat;

$coop-material-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$green-palette,
    tertiary: mat.$cyan-palette,
  ),
  typography: (
    brand-family: 'Roboto Variable',
    plain-family: 'Roboto Variable',
  ),
  density: (scale: 0),
));

html {
  @include mat.all-component-themes($coop-material-theme);
}
